html, body, #root {
  font-family: 'Poppins';
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-page {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
    background-color: #f0f2f5;
}

.admin-image-section {
  background-color: black;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.login-credentials-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

.login-credentials-section input{
    margin: 1rem;
    padding: 0.6rem;
    border: 0.1px solid;
    border-radius: 5px;
}

.login-credentials-section button, a{
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
}

.login-credentials-section button{
    border: none;
    color: white ;
    background-color:#68232B;
    cursor: pointer;
}

.login-credentials-section h2{
    border: none;
    margin-left: 1rem;
}

.login-credentials-section button>h4{
    margin: 0;
    padding: 0;
}