body{
    font-style: 'Poppins';
}

.checkout-details-section{
    margin-left: 30%;
    margin-right: 3%;
}

.input-group{
    margin: 15px 0;
    position: relative;
}

.input-group label{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    padding: 0 5px;
    transition: 0.5s;
}

.input-group input{
    height: 40px;
    font-size: 16px;
    padding-left:15px;
    padding-right: 0;
    border: 1px solid grey ;
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    background-color: #fff;
    font-size: 14px;
}

.check-box{
    margin: 15px 0;
}


.checkout-header {
    width: 100%;
    top: 0;
    box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-header img{
    height: 100%;
}

.checkout-section{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: #fff;
    height: 25cm;
}

.checkout-details-section {
    background-color: #fff;
}

.checkout-items-section{
    background-color: #f6f6f6;;
}

.contact, .delivery{
    display: flex;
    flex-direction: column;
}


.delivery-country{
    display: flex;
    flex-direction: column;
}

.email-field{
    width: 70%;
}

.user-name{
    display: grid;
    grid-template-columns: repeat(2, 50%)
}

.user-name .input-group{
    width: 100%;
}

.city-state-pincode{
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 33%) */
}

.city, .state, .pincode{
    width:85%;
}

.address{
    width: 95%;

}

.name{
    width: 90%;
    margin-right: 2%;
}





.floating-dropdown {
  /* position: relative; */
  width: 100%;
}

.floating-dropdown select {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
  background: transparent;
  appearance: none; /* removes default arrow */
}

.floating-dropdown label {
  position: absolute;
  border: none;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background: white;
  padding: 0 5px;
  color: #777;
  transition: 0.2s ease all;
  pointer-events: none;
}

.floating-dropdown select:focus + label,
.floating-dropdown select:valid + label,
.floating-dropdown label.active {
  top: -8px;
  font-size: 12px;
  /* color: #007bff; */
}

.payment-input{
    width: 95%;
    border: 1px solid rgb(118, 118, 118);
    height: 40px;
    padding-left:15px;
    padding-right: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 15px 0;
}

.pay-label{
    display: flex;
    justify-content: space-between;
}

.submit-button{
    width: 98%;
    height: 45px;
    padding-left:15px;
    color: white;
    background-color: rgb(68, 118, 255);
    border: none;
}

.total-section{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.total-section > h3{
    margin: 0;
}

.total-bottom{
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}