.your-orders{
    color: #68232B;
    text-align: center;
}

.orders-heading-section{
    border: 1px solid black;
    background-image:url("./assets/footerbgimage.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #FFCB85;
    font-size: 1vw;
}

.order-component{
    display: grid;
    background-color: #FFCB85;
    grid-template-columns: repeat(2, 50%);
}

.order-card{
    border-bottom: 1px solid black;
    color: #621721;
    min-width: 95%;
    max-width: 95%;
    justify-content: center;
    background-color: #FFCB85 ;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 1rem;
    align-items: center;
    height: 15rem;
    justify-self: center;
    align-self: center;
}

.order-product-image{
    align-self: center;
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    /* object-fit: cover; */
    height: 60%;
    width: 80%;
    border-radius: 15px;
}

.order-product-image img{
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    align-self: center;
    justify-self: center;
    width: 100%; 
}

.order-product-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-product-description> div h2,p, h3{
    padding: 0;
    margin: 10px;
}

.text{
    align-self: center;
    justify-self: center;
}