.my-profile-details{
    /* height: 15cm; */
    text-align: center;
    color: #68232B;
}

.detail-section{
    width: 45%;
    margin-bottom: 2rem;
    justify-self: center;
    padding: 1rem;
}

.name-detail, .email-detail, .phone-detail, .dob-detail{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5vw;
}

.update-button{
    border: none;
    background-color: #68232B;
    color: #FFCB85;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.update-button h3{
    margin: 0;
}
