body{
    font-family: 'Poppins';
}

.about-us-image-section{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 1rem;
    min-width: 90%;
    max-width: 90%;
    justify-self: center;
    height: fit-content;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    border: 1px solid black;
    height:fit-content;
    background-image: url('../assets/footerbgimage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

.about-us-image{
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0.2rem;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-image img{
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

.about-us-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFCB85;
    padding: 1rem;
}

.about-us-description p{
    text-align: justify;
    font-size: 1.2vw;
}

.reach-us{
    color: #68232B;
    text-align: center;
}

.reach-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp, .instagram, .maps, .call{
    background-color: #68232B;
    border-radius: 10px;
    display: flex;
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .about-us-image-section{
        display: flex;
        flex-direction: column;
    }

    .about-us-image{
        aspect-ratio: 5/3;
    }

    .about-us-description h1{
        padding: 0;
        margin: 0;
    }

    .about-us-description p{
        font-size: 1.5vw;
        text-align: center;
    }
}