.cart-item{
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 30% 70%;
  /* height: 4vh ; */
}

.cart-item-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vw;
  width: 8vw;
  overflow: hidden;
  padding: 1rem;
  border-radius: 10px;
}

.cart-item-image img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;

}

.cart-item-description{
  padding: 0 0.4rem;
}



.increment-and-remove-button,.increment-and-decrement{
  display: flex;
  /* align-items: center; */
}

.increment-and-decrement{
  margin-right: 3vw;
  border: 1px solid black;
}

.increment, .decrement{
  border: none;
  padding: 0.25rem 0.7rem;
  border-radius: 5px;
  background-color:transparent;
  color:#68232B;
  cursor: pointer;
}

.remove-item-button{
  border: none;
  padding: 0.25rem 0.8rem;
  border-radius: 7px;
  background-color: #68232B;
  color: #FEDB87;
  cursor: pointer;
}

.item-count{
  padding: 0  1rem;
  margin: 0;
}