.cart-wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  z-index: 2; 
}

.my-cart-panel {
  position: fixed;
  background-color: #551920;
  top: 5rem;
  right: 0;
  bottom: 0;
  width: 30%;
  color: white;
  z-index: 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.my-cart-naming-and-button{
    background-image: url('../assets/footerbgimage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #FFCB85;
}

.cart-main-name{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vw;
}

.cart-close-button{
  margin-right: 2vw;
  width: 25px;
  height: 25px;
  background-image: url('../assets/Cross.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cart-products{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FFCB85;
  color: #68232B;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.cart-products::-webkit-scrollbar {
  display: none;
} 

.checkout-button{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.checkout{
  margin: 1rem;
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
  cursor: pointer;
  background: 
    linear-gradient(to right, #FEDB87, #BD7923) border-box,
    transparent padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-bill{
  width: 100%;
}

.total-cart-bill, .delivery-bill{
  margin: 0 0.7rem ;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.total-cart-bill h3, .delivery-bill h3{
  margin: 0.2rem 0;
}

.grand-total{
  margin: 0 0.7rem;
  width: 90%;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .my-cart-panel {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .my-cart-panel {
    width: 50%;
  }

  .cart-main-name{
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  .my-cart-panel {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .my-cart-panel {
    width: 80%;
  }

  .cart-main-name{
    font-size: 3.5vw;
  }
}
