.category-card {
  position: relative;
  width: clamp(170px, 20vw, 250px);
  height: clamp(170px, 20vw, 250px);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.category-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.category-card:hover::before {
  background-color: rgba(255, 255, 255, 0);
}

.category-name {
  position: relative;
  z-index: 2;
  font-size: 3vw;
  color:#68232B;
  font-weight: bold;
  text-align: center;
}