.checkout-item{
  display: grid;
  grid-template-columns: 30% 55% 15%;
  position: relative;
}

.checkout-item > *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-item-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 6vw;
  overflow: hidden;
  margin: 0.5rem 1rem;
  border-radius: 10px;
}

.quantity-num {
  position: absolute;
}

.num-child{
  position: relative;
  padding: 3px;
  border-radius: 40px;
}

.checkout-item-image img{
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;

}

.checkout-item-description{
  padding: 0 0.4rem;
}
