.filter-sort-div{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 5rem;
  left: 0;
  bottom: 0;
  color: white;
  z-index: 2; 
}

.filter-sort-panel {
  position: fixed;
  background-color: #551920;
  top: 5rem;
  left: 0;
  bottom: 0;
  width: 30%;
  color: white;
  z-index: 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.filter-sort-naming-and-button{
    background-image: url('../assets/footerbgimage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #FFCB85;
}

.filter-sort-name{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vw;
}


.close-button{
  margin-right: 2vw;
  width: 25px;
  height: 25px;
  background-image: url('../assets/Cross.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-name img{
  padding: 0;
  margin: 0;
  height: 5vh;
}

.filter-name h3{
  margin: 0;
  padding: 0;
}

.clear-all-and-apply-button{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clear-all, .apply{
  margin: 0.7rem;
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
  cursor: pointer;
  background: 
    linear-gradient(to right, #FEDB87, #BD7923) border-box,
    transparent padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


.filter-sort-options{
  height: 100%;
  width: 100%;
  background-color: #FFCB85;
  color: #68232B;
}

.price-filter, .category-filter-main, .sort{
  border-bottom: 2px solid black;
  padding: 1rem;
  user-select: none;
  cursor: pointer;
}

.filter-section{
  display: flex;
  flex-direction: column;
}

.category-label {
  display: flex;
  align-items: center;
  gap: 8px; /* spacing between checkbox and label */
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}

.sortSelect{
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 10px;
  margin: 1.5rem;
}


@media screen and (max-width: 1000px) {
  .filter-sort-panel {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .filter-sort-panel {
    width: 50%;
  }

  .filter-sort-name{
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  .filter-sort-panel {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .filter-sort-panel {
    width: 80%;
  }

  .filter-sort-name{
    font-size: 3.5vw;
  }
}