.footer{
    font-family: 'Poppins';
    color: #fff;
    text-align: center;
    padding: 2rem 0 1rem 0;
    background-image: url("../assets/footerbgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.newsletter{
    justify-self: center;
    padding: 0.5rem 1rem 1rem 1rem ;
    width: fit-content;
    background-color: #ffd596;
    align-items: center;
    color: #111;
    border-radius: 1.5rem;
}

.newsletter h2{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem ;
}

.emailplace{
    height: 3rem;
    width: 20rem;
    border: none;
    border-radius: 0.7rem;
}

.emailbutton{
    margin-left: 1rem;
    height: 3rem;
    width: 5rem;
    border: none;
    color: white;
    background-color: #551920;
    border-radius: 0.5rem;
}

.quickandabout{
    padding: 2rem 3rem 0 3rem;
    display: flex;
    justify-content: space-between;
}

.quickLinks{
    text-align: left;
}

.quickLinks p{
    padding: 0;
    margin:1rem 0 1rem 0
}

.about{
    text-align: right;
}

.about p{
    padding: 0;
    margin:1rem 0 1rem 0
}


.socialmedia{
    background-color: #551920;
    height: 4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.socialLinks{
    height: 2rem;
    width: 2rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.socialLinks img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .gst-footer{
    display:flex;
    justify-content:space-b
} */

@media screen and (max-width: 600px) {
    .quickandabout{
        padding: 2rem 1.5rem 0 1.5rem;
        display: flex;
        justify-content: space-between;
    }
    .quickLinks p {
        font-size: 2vw;
        padding: 0;
        margin: 0.3rem 0 0.3rem 0
    }
    .quickLinks h1{
        font-size: 3vw;
    }
    .about h1{
        font-size:3vw;
    }
    
    .about p {
        font-size: 2vw;
        padding: 0;
        margin: 0.3rem 0 0.3rem 0
    }
}

@media screen and (max-width: 600px) {
    .newsletter{
        display: none;
    }

    .socialmedia{
        font-size: 2vw;
    }
}