.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 4;
  box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.4);
  background-image: url('../assets/backgroundimagenew.jpg');
  color: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: auto;
}

.logo img{
    height: 5rem;
    width: auto;
  }

.filterandsortmenu{
  padding-left: 1rem;
  cursor: pointer;
}

.filterandsortmenu,
.searchcartwish {
  z-index: 1; 
}

.searchcartwish {
  display: flex;
  align-items: center;
}

.search, .wishlist, .cart {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

.search img, .wishlist img, .cart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filterandsortmenu img:hover, .search img:hover, .wishlist img:hover, .cart img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 575px) {
  .logo img{
    height: 5rem;
    width: auto;
  }
  .logo {
    top: 5%;
  }

  .search, .wishlist, .cart {
    height: 1.2rem;
    width: 1.2rem;
    padding: 0 .6rem;
  }
  
  .search img, .wishlist img, .cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}