.product-card {
  font-family: 'Poppins';
  /* border: 1px solid black; */
  text-align: center;
  border-radius: 1rem;
  color: #68232B;
  cursor: pointer;
}

.product-card:hover{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.product-card:hover .imagecontainer img{
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.product-card h4{
  margin-top: 0;
  margin-bottom: 7px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 3em;
}

.imagecontainer{
  width: 100%;
  aspect-ratio: 3/4; 
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 8px;
}

.imagecontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops excess, maintains aspect ratio */
  display: block;
}

.priceandbutton{
  display: flex;
  justify-content: space-between;
  cursor: "pointer";
  padding: 0.5rem;
}

.priceandbutton h3,h6{
  padding: 0;
  margin: 0;
  line-height: 1.2;
  display: flex;
  justify-content:left;
}

.priceandbutton button{
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
  width: 38px;
  height: 38px;
  background-image: url('../assets/button.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}

.priceandbutton button:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 1000px){
  .product-card h4{
    font-size: 2vw;  
  }

@media screen and (max-width: 500px){
  .product-card h4{
    font-size: 3vw;  
  }
}
}


