.review-card{
    background-image: url('../assets/footerbgimage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex: 2;
    flex-direction: rows;
    min-width: 70%;
    max-width: 70%;
    height: fit-content;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}
.left-section{
    aspect-ratio: 1/1; 
    overflow: hidden;
    border-radius: 20px;
    width: fit-content;
    height: 25vw;
    margin: 2vw;
}

.left-section img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.right-section{
    padding: 1rem;
    display: flex;
    flex:3;
    flex-direction: column;
    justify-content: center;
}

.right-section > *{
    margin: 0.5vw;
}

.right-section h2{
    font-size: 2vw;
}

.right-section p{
    font-size: 1.5vw;
}
.stars{
    font-size: 2vw;
}