body {
  margin: 0;
  font-family: 'Poppins';
  background-image:url("./assets/backgroundimagenew.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  /* text-align: left; */
}


.main-product-display-section{
    font-family: 'Poppins';
    color: #fff;
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-image: url("../assets/footerbgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.product-downframe{
    max-width: 95%;
    padding-top: 0;
}

.product-upframe{
    max-width: 95%;
    transform: rotate(180deg);
    padding-bottom: 0;
}

.product-saree-section {
  display: grid;
  grid-template-columns: 43% 14% 43%;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}

.additional-saree-image-1, 
.additional-saree-image-2, 
.additional-saree-image-3, 
.main-saree-image {
  padding: 2vw;
  aspect-ratio: 1/1;
  box-sizing: border-box; 
  cursor: pointer;
}

.additional-saree-image-1 img, 
.additional-saree-image-2 img, 
.additional-saree-image-3 img, 
.main-saree-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.6rem;
}

.additional-saree-image-1:hover img, 
.additional-saree-image-2:hover img, 
.additional-saree-image-3:hover img, 
.main-saree-image:hover img{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.main-saree-desc{
    padding: 2vw;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    text-align:left;
    color: #FFCB85;
    width: fit-content;
    max-height: 85%;
    align-self:flex-end;
}

.sub-desc-heart{
    width:3vw;
    justify-self: flex-end;
    cursor: pointer;
}

.sub-desc-heart img{
    width:3vw;
    cursor: pointer;
}

.sub-desc-name h1{
    font-size: 3vw;
}

.sub-desc-desc p{
    font-size: 1.3vw;
}

.main-price h5, .disc-price h2{
    margin: 0;
    padding: 0;
    font-size: 3vw;
}

.main-price h5{
    font-size: 1.3vw;
}
.disc-price h2{
    font-size: 3vw;
}

.action-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-button, .buy-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0.7vw;
  height: 4vw;
  /* padding: 0.5vw; */
  border-radius: 25px;
  background: 
    linear-gradient(to right, #FEDB87, #BD7923) border-box,
    transparent padding-box;
  border: 4px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.cart-button p, .buy-now-button p{
    font-size: 1.3vw;
    cursor: pointer;
}

.product-description-section{
    color: #68232B;
    display: flex;   
    margin: 1rem;
}

.product-description h1{
    font-size: 2vw;
    padding-bottom: 0.5rem;
    margin: 0;
}

.product-description p{
    font-size: 2vw;
}

.stardecoration{
    max-height: 2rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stardecoration img{
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.6rem;
}

.product-details-section{
    color: #68232B;
    display: flex;   
    margin: 1rem;
}

.product-details{
    width: 100%;
}

.product-details h1{
    font-size: 2vw;
    padding-bottom: 0.5rem;
    margin: 0;
}

.detail{
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0rem 1rem ;
}

.product-grid-detail-page {
  display: flex;
  margin: 0rem 0rem 0rem 1rem;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.product-grid-detail-page::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 3000px) {
    .product-grid-detail-page > * {
        flex: 0 0 auto;
        min-width: 150px;
        width: clamp(150px, 25vw, 200px); 
    }
}