.wishlist-item{
  border-bottom: 1px solid black;
  display: flex;
  /* height: 4vh ; */
}

.wishlist-item-image{
  height: 8vw;
  width: 8vw;
  overflow: hidden;
  padding: 1rem;
  border-radius: 10px;
}

.wishlist-item-image img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;

}

.wishlist-item-description{
  padding: 0 0.4rem;
}

.addCart-and-remove-button{
  display: flex;
  /* align-items: center; */
}

.remove-item-button, .wishlist-item-add-to-cart{
  border: none;
    margin-right: 3vw;

  padding: 0.25rem 0.8rem;
  border-radius: 7px;
  background-color: #68232B;
  color: #FEDB87;
  cursor: pointer;
}