*{
  font-family: 'Poppins';
}

.wishlist-wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  z-index: 2; 
}

.my-wishlist-panel {
  position: fixed;
  background-color: #551920;
  top: 5rem;
  right: 0;
  bottom: 0;
  width: 30%;
  color: white;
  z-index: 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



.my-wishlist-naming-and-button{
    background-image: url('../assets/footerbgimage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #FFCB85;
}

.wishlist-main-name{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vw;
}


.wishlist-close-button{
  margin-right: 2vw;
  width: 25px;
  height: 25px;
  background-image: url('../assets/Cross.svg');
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.wishlist-products{
  height: 100%;
  width: 100%;
  background-color: #FFCB85;
  color: #68232B;
}

.add-to-cart{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-to-cart-button{
  margin: 1rem;
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
  cursor: pointer;
  background: 
    linear-gradient(to right, #FEDB87, #BD7923) border-box,
    transparent padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .my-wishlist-panel {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .my-wishlist-panel {
    width: 50%;
  }

  .wishlist-main-name{
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  .my-wishlist-panel {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .my-wishlist-panel {
    width: 80%;
  }

  .wishlist-main-name{
    font-size: 3.5vw;
  }
}